* {
    box-sizing: border-box;
}

.middleClass {
    margin-left: 10px !important;
}


/* 想让dialog中的组件能按照form中样式，但是有不需要form组件的时候，就写上这个样式就行 */
.le_comps_core_css .form-item{
    margin: 10px 0 22px 0;
}

/* 一行放俩个 */
.le_comps_core_css .col1{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* 一行放俩个 */
.le_comps_core_css .col2{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* 一行放3个 */
.le_comps_core_css .col3 {
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* 一行放4个 */
.le_comps_core_css .col4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.warning {
    color: red;
}


/* .le_form_row  .el_form_row_item 是为了把单加的button和前面的组件放到一行上*/
.le_form_row {
    flex: 1;
}

.el_form_row_item .form-item {
    width: 300px;
}

.el_form_row_item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.el_form_row_item .label_msg {
    margin-left: 26px;
}

.el_form_row_item /deep/ .required::before {
    position: relative;
}

.clearfix:after {
    content: ".";
    display: block;
    height: auto;
    clear: both;
    visibility: hidden
}

.btnGroup {
    margin-bottom: 10px;
    text-align: right;
    padding: 0 20px;
}

.second-level h1 {
    padding: 12px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

/* 组件后面显示的提示信息 */
.el_form_row_item .warning{
    height: 18px;
    line-height: 18px;
    margin: 0;
    font-size: 12px;
    color: #f56c6c;
}

.readonlyIcon{
    cursor: not-allowed !important;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #b7b8bb;
    font-size: 14px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #b7b8bb;
    font-size: 14px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #b7b8bb;
    font-size: 14px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #b7b8bb;
    font-size: 14px;
}

textarea::-webkit-input-placeholder{
    color: #b7b8bb;
    font-size: 14px;
}
textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #b7b8bb;
    font-size: 14px;
}
textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #b7b8bb;
    font-size: 14px;
}
textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: #b7b8bb;
    font-size: 14px;
}




/* 组件公共样式 */
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html,body{
    width: 100%;
    height: 100%;
}

.form-item{
    text-align: left;
    margin:0 0 22px 0;
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-item .form-item-label{
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    color: #606266;
    line-height: normal;
    padding: 0;
    box-sizing: border-box;
    margin: 0 5px 0 10px;
}

.form-item .form-item-div{
    display: inline-block;
    line-height: normal;
    vertical-align: text-bottom;
    position: relative;
    flex: 1;
}

.required::before{
    content: "*";
    color: #f56c6c;
    font-size: 12px;
    margin-right: 2px;
}

.form-item .promptMsg{
    font-size: 12px;
    color: #f56c6c;
    line-height: 20px;
    text-align: left;
    position: absolute;
    margin: 0;
    bottom: -20px;
}

.form-item .tip{
    font-size: 12px;
    color: #3ea5d2;
    line-height: 20px;
    text-align: left;
    position: absolute;
    margin: 0;
    bottom: -20px;
}

.form-item .form-item-div .readonlyIcon{
    background-color: #f1f1f1;
}

.form-item .form-item-div .readonlyIcon:focus{
    background-color: #f1f1f1;
    border-color: #dcdfe6;
}

.fa-times-circle-o .form-item-input{
    border: 1px solid #f56c6c;
}
.fa-check-circle-o .form-item-input{ 
    border: 1px solid #67c23a;
}

.fa.fa-times-circle-o{
    position: relative;
}

.fa.fa-check-circle-o{
    position: relative;
}



.form-item{
    line-height: normal;
    margin-bottom: 22px;
    position: relative;
    text-align: left;
    display: inline-block;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-item .form-item-div{
    background-color: #fff;
    flex: 1;
}

.form-item .form-item-label{
    text-align: right;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    color: #606266;
    line-height: normal;
    padding: 0;
    box-sizing: border-box;
    margin: 0 5px 0 10px;
}

/* table太长可以左右滑动 */
.overflow-table{
    overflow-x:scroll; 
}

.overflow-table table td{
    word-break: break-all;
    white-space: nowrap;
}


